
.logo{

-fx-background-radius: 50;

    -fx-font-family: 'Homemade Apple', cursive;
-fx-font-size: 20.0;
}


.mytitle{
    -fx-font-family: 'Homemade Apple', cursive;
    /*-fx-font-family: "Shadows Into Light";*/
    -fx-font-size: 20.0;
    
}
